@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #2bb5d7;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

h1 {
  font-size: 36px;
  text-align: left;
  margin-left: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}

li {
  margin: 0 50px;
}

.breadcrumb {
  margin: 20px 20px 0 20px;
  font-size: 14px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.flex .introduction {
  width: 60%;
  height: 300px;
  height: 390px;
  padding: 10px 10px 0 10px;
  margin-right: 10px;
}

.flex img {
  width: 440px;
  object-fit: cover;
  height: 660px;
  margin-left: 10px;
}
